@model IEnumerable<BuildSheet>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3>Search Build Sheet</h3>
<form asp-controller="BuildSheets" asp-action="Index" method="get" value=@ViewBag.SearchString>
    <div class="row">
        <div class="col-md-3">
            <input type="text" name="name" class="form-control" />
        </div>        <div class="col-md-2">
            <input type="submit" value="Search" class="btn btn-info" />
            <a asp-controller="BuildSheets" asp-action="Create" class="btn btn-primary" style="margin-left: 15px;">Create</a>
        </div>
        <br />
    </div>
    <div class="col-md-3">
        <div class="alert-danger">
            @if (ViewBag.ErrorMessage != null)
            {@ViewBag.ErrorMessage}
        </div>
    </div>
</form>
<br />
@if (Model != null)
{
    <div class="row">
        <div class="col-md-8">
            <table class="table">
                <thead>
                    <tr>
                        <th width="40%">
                            Build Sheet Name
                        </th>
                        <th width="40%">
                            Description
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        @foreach (var buildSheet in Model)
                    {
                            <tr>
                                <td>
                                    <a asp-controller="BuildSheets" asp-action="Details" asp-route-id="@buildSheet.Id" asp-route-name="@buildSheet.ProductName">@buildSheet.ProductName</a>
                                </td>
                                <td>
                                    @buildSheet.Description
                                </td>
                            </tr>
                    }
                    }               
                </tbody>
            </table>
        </div>
    </div>

}