

@{ 
    ViewBag.Title = "404 Not Found";
}
<div class="alert alert-danger mt-1 col-md-1">
    <h4>404 Not Found Error : </h4>
    <hr/>
    <h5>This item can not be found</h5>
</div>
<a asp-action="Main" asp-controller="TesterParameters"class="btn btn-success">
    Click to go back home
</a>